.lista-espera {
    text-align: center;
    padding: 2rem;
}

.lista-espera h1 {
    font-size: 2.5rem;
    color: #785f49;
}

.lista-espera p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.join-button,
.back-button {
    padding: 15px 30px;
    background-color: #785f49;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
